*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;
}

body {
    margin: auto;
    color: #000;
}
body .header__inner, .nav__inner {
    max-width: 1300px;
}

html{
    scroll-behavior: smooth;
}

/*------------

     HEADER

---------------*/

.container{
    width: 100%;
}
/*------------
       
     NAVIGATION
       
-----------------*/

header{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header__inner{
    position: relative;
}
.nav__inner, .nav__inner ul li{
    display: inline-block;
    margin-left: 20px;
    margin: 20px;
}
.nav__inner{
    position: absolute;
    right:0;
}
a {
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
    padding: 15px 20px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: black;
    vertical-align: middle;
}
/*------------------

        MAIN

------------------    */


#first, #second, #third {
    height: 100vh;
    position: relative;
}

#first{
    background-color: rgb(218, 54, 54);
}
#second {
    background-color: rgb(20, 170, 20);
}
#third{
    background-color: rgb(255, 255, 73);
}

.box{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.img__content{}

.text__content{
    text-transform: uppercase;
}

.modello1, .modello2, .modello3{
    color:yellow;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

.modello3{
    color: green
}